<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.cutano.swiftmessengerservice.mapper.ChatMapper">

    <select id="userInfo" parameterType="java.lang.Integer" resultType="hashmap">
        SELECT *
        FROM User
        WHERE userID = #{userID}
    </select>

    <select id="friendList" parameterType="java.lang.Integer" resultType="hashmap">
        SELECT friendview.userID,
               friendview.friendID,
               friendview.unreadMsgCount,
               `user`.username   AS friendName,
               `user`.userAvatar AS friendAvatar,
               `session`.recentMsg,
               `session`.recentMsgTimeStamp
        FROM friendview
                 LEFT JOIN `user` ON friendview.friendID = `user`.userID
                 LEFT JOIN `session` ON friendview.sessionID = `session`.sessionID
        WHERE friendview.userID = #{userID}
    </select>

    <select id="conversationHistoryMsg" parameterType="java.lang.Integer"
            resultType="team.cutano.swiftmessengerservice.pojo.Message">
        SELECT *
        FROM message
        WHERE message.sessionID IN (SELECT friendview.sessionID
                                    FROM friendview
                                    WHERE friendview.userID = #{userID}
                                      AND friendview.friendID = #{friendID})
    </select>

    <insert id="addFriend" parameterType="java.lang.Integer">
        CALL addFriend (#{userID}, #{friendID});
    </insert>

    <update id="clearUnread" parameterType="java.lang.Integer">
        UPDATE message
        SET hasRead=1
        WHERE message.senderID = #{friendID}
          AND message.receiverID = #{userID};
    </update>

    <select id="getSessionID" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT sessionID
        FROM friendview
        WHERE userID = #{userID}
          AND friendID = #{friendID};
    </select>

    <insert id="newMsg" parameterType="team.cutano.swiftmessengerservice.pojo.Message">
        INSERT INTO message (senderID, receiverID, timeStamp, sessionID, hasRead, text)
        VALUES (#{senderID}, #{receiverID}, #{timeStamp}, #{sessionID}, #{hasRead}, #{text});
        <selectKey resultType="java.lang.Integer" keyProperty="msgID" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="setRecentMsg" parameterType="team.cutano.swiftmessengerservice.pojo.Message">
        UPDATE `session`
        SET recentMsg=#{text}, recentMsgTimeStamp=#{timeStamp}
        WHERE `session`.sessionID=#{sessionID}
    </update>
</mapper>